{% extends 'base.html' %}

{% block content %}
<h5>Products</h5>
<div class="row">

    {% for product in products %}

    <div class="col ">
        <div class="">
            <div class="card" style="width: 18rem; margin:2px;">
                <img src="{{product.image_url}}" class="card-img-top" alt="...">
                <div class="card-body text-bg-warning">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">${{product.price}}</p>
                    <a href="#" class="btn btn-primary">add to cart</a>
                </div>

            </div>

        </div>
    </div>
    {% endfor %}

</div>
<ul>

    <li></li>

</ul>
{% endblock %}